<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Vinitos</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="row" style="margin-top: 50px;">
    <h1>API</h1>
  </div>
  <div class="row">
    <h2>Vinito</h2>
    <code>
      attributes: {
        name: {
          type: 'string',
          size: 30,
          required: true
        },
        description: {
          type: 'string',
          size: 300,
          required: true
        },
        price: {
          type: 'float',
          required: true
        },
        vintage: {
          type: 'integer', // añada, no es coña xD
          required: true
        },
        type: {
          type: 'string',
          enum: ['tinto', 'blanco', 'sobremadre', 'rosado', 'dulce', 'espumoso'],
          required: true,
          size: 16
        }
      }
    </code>
    <table class="table table-hover">
      <caption>REST API</caption>
      <thead>
        <tr>
          <th>HTTP Method</th>
          <th>URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GET</td>
          <td><a href="/vinito">/vinito</a></td>
          <td>List vinitos</td>
        </tr>
        <tr>
          <td>POST</td>
          <td><a href="/vinito">/vinito</a></td>
          <td>Create new vinito</td>
        </tr>
        <tr>
          <td>GET</td>
          <td><a href="/vinito/1">/vinito/1</a></td>
          <td>Get vinito with id 1</td>
        </tr>
        <tr>
          <td>PUT</td>
          <td><a href="/vinito/1">/vinito/1</a></td>
          <td>Update vinito with id 1</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td><a href="/vinito/1">/vinito/1</a></td>
          <td>Delete vinito with id 1</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover">
      <caption>Shortcuts (only for development!!)</caption>
      <thead>
        <tr>
          <th>URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/vinito/create?name=ValdeGunther&price=1">/vinito/create?name=ValdeGunther&price=1</a></td>
          <td>Create new vinito</td>
        </tr>
        <tr>
          <td><a href="/vinito/find/1">/vinito/find/1</a></td>
          <td>Get vinito with id 1</td>
        </tr>
        <tr>
          <td><a href="/vinito/update/1?name=ValdeGunther">/vinito/update/1?name=ValdeGunther</a></td>
          <td>Update vinito with id 1</td>
        </tr>
      </tbody>
    </table>
  </div>

</div><!-- /.container -->
